*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-fix{
    width: 800px;
    max-width: 100%;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:none;
}
header{
    margin-bottom:70px;
}
header a{
    color:#fff;
    display:block;
    font-weight: 700;
}
header a:hover{
    color:#d4d4d4;
}
header .cover-menu-top{
    background-color:rgba(0,0,0,0.8);
    position: fixed;
    width: 100%;
    top:0;
    z-index:100;
}
header .cover-menu-top .web-name-1{
    font-size:20px;
    padding-left:20px;
}
header .cover-menu-top a{
    font-size:16px;
    padding: 10px 10px;
}
header .cover-menu-top ul{
    list-style-type: none;
}
header .cover-menu-bottom{
    background-image:   linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%), url(../../../images/cover-bg.jpg);
    background-size:cover;
    padding-top:140px;
    padding-bottom:50px;
}
header .cover-menu-bottom .web-name{
    font-size:40px;
}
header .cover-menu-bottom span{
    color: #fff;
    font-size: 22px;
    font-weight:700;
}
header .cover-menu-bottom nav ul{
    list-style: none;
    margin-top:80px;
}
header .cover-menu-bottom nav ul li{
    display:inline-block;
    padding:0 10px;
}
/* hết phần header */
main{
    margin-top:30px;
}
main .block-content{
    padding-bottom: 50px;
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom:30px;
}
main .block-content .title-content {
    color: rgba(0,0,0,0.8);
    
}
main .block-content .title-content h1{
    font-size:27px;
    font-weight: 700;
}
main .block-content .title-content:hover{
    color: #006f6a;
}
main .block-content .main-content{
    margin-top:30px;
}
main .block-content .main-content{
    display:flex;
}
main .block-content .main-content .img-des{
    display:block;
    
}
main .block-content .main-content img{
    width: 150px;
    height:150px;
    border-radius: 5px;
}
main .block-content .main-content .short-des{
    margin-left: 30px;
    font-size:22px;
    line-height: 35px;
    font-family: 'Segoe UI Light';
}
/* hết phần main */
footer{
    margin-top:40px;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #282828;
    color:white;
}
footer .footer-title{
    color:white;
    font-size:18px;
    margin-bottom:10px;
}
footer .footer-menu{
    list-style: none;
}
footer .footer-menu a{
    font-size:14px;
    line-height: 30px;
    color:#757575;
}
footer .footer-menu a:hover{
        color:#fff;
}
footer .tags{
    margin-top:15px;
    padding-top:30px;
    border-top:1px solid #757575;
}
footer .tags h4{
    color:white;
    font-size:18px;
    margin-bottom:10px;
    font-weight: 400;
}
footer .tags p{
    color:#757575;
    font-size:14px;
}
/* -------------------------------hết trang index---------------------- */
#course,#good-post,#author{
    margin-top:100px;
    margin-bottom:60px;
}
.title-list-post{
    margin-top:100px;
    border-bottom: 1px dashed #e5e5e5;

}
.title-post{
    font-size:42px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom:30px;
}
.body-post p{
    font-size:21px;
    font-family: 'Segoe UI Light';
    padding-bottom:25px;
}
.body-post a{
    font-size:21px;
    font-family: 'Segoe UI';
    padding-bottom:25px;
    color:#00a9a1;
}
.body-post a:hover{
    color:#006f6a;
}
.body-post ul{
    margin-left:50px;
}
.body-post ul li{
    font-size:21px;
    font-family: 'Segoe UI Light';
    padding-bottom:15px ;
}
.body-post p img{
    width: 100%;
}
.body-post h2{
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: #1d1d1d;
    font-weight:700;
}
.body-post h3{
    padding-bottom: 25px;
    line-height: 30px;
    font-weight:700;
    font-size:23px;
}
blockquote{
    quotes: none;
    background-color: #f1f1f1;
    padding: 15px 20px;
    margin-bottom: 25px;
    border: 1px solid #ececec;
    border-radius: 4px;
    border-left: 5px solid #d4d4d4;
}
.block-video{
    margin-top:40px;
}
.block-video a{
    color:#00a9a1;
    font-weight:700;
    
}
.block-video a:hover{
    color:#006f6a;
}
.block-video p{
    margin-top:10px;
    font-size:15px; 
}